set show-mode-in-prompt on
set vi-ins-mode-string "\1+\2"
set vi-cmd-mode-string "\1+\2"
set keyseq-timeout 0

set keymap vi-command
Control-l: clear-screen

set keymap vi-insert
Control-l: clear-screen
Control-a: beginning-of-line
Control-e: end-of-line

set completion-ignore-case on
